@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: rgb(43, 41, 41);
}
.numberscontainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(20, 1fr);
    width: 100%;
    height: 350px;
  }
  .cont{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
  }
  .odd{
    height: 10%;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 50px;
    width: 100%;
    background: white;
  }
  .logo{
    height: 90%;
    width: 80px;
  }
  .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.phone1{
  font-weight: bold;
  font-size: 30px;
  background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(rgb(20, 109, 145), rgb(11, 33, 104));
}
.phone2{
  color: white;
  font-weight: bold;
  font-size: 30px;
  background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(rgb(20, 109, 145), rgb(11, 33, 104));
}
  .numberscontainer div {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
  /*26843029*/
  .registered {
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
  
  .unregistered {
    background: rgb(161, 159, 159);
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(88, 85, 85);
    width: 40px;
    height: 40px;
  }
  .unregistered:hover{
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104));
    color: white;
  }
  .playoption{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 60px;
    gap: 20px;
  }
  .renumber{
    width: 100%;
    height: auto;
  }
  .renumber ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .renumber ul li{
    border-radius: 50%;
    border: 2px solid rgb(222, 227, 230);
    background-color: rgb(11, 33, 104);
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .memezgeb{
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 8%;
  }
  .select{
    height: 40px;
    width: 250px;
    
  }
  select{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
  }
  .button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background: rgb(11, 33, 104);
    color: white;
  }
  .button:hover{
    background: white;
    color: rgb(11, 33, 104);
  }
  .round{
    color: white;
    font-weight: bold;
    height: 7%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  @media(max-width:600px){
    .numberscontainer{
      height: 200px;
    grid-template-columns: repeat(10, 1fr);
    }
    .registered{
      width: 4px;
      height: 4px;
      font-size: 10px;
    }
    .unregistered{
      width: 4px;
      font-size: 10px;
      height: 4px;
    }
    .phone1{
      display: none;
    }
    .phone2{
      display: none;
    }
    .odd{
      font-size: 15px;
    }
    .button{
      height: 30px;
      font-size: 15px;
    }
    .select{
      height: 30px;
      width: 100px;
    }
  }