.select{
    display: flex;
}
.selectoption{
    width: 100px;
}
.total{
    display: flex;
}
.totalincome{
    background: rgb(7, 87, 153);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }