.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104),rgb(3, 3, 53));
    position:relative;
}
.back{
    position: absolute;
    height: 30px;
    width:70px;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .back:hover{
    color: rgb(211, 204, 204);
  }
.cont{
    margin-top: 30px;
    width: 450px;
    height: 450px;
    background: white;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: 20px;
}
.form{
    height: 40%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nextform{
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.chooseimg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(41, 43, 42);
    color: white;
    font-size: 20px;
}
.chooseimg:hover{
    background: rgb(40, 151, 136);
}
.chooseimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form input{
    height: 30px;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nextbutton{
    margin-top: 10px;
    height: 8%;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104),rgb(3, 3, 53));
}
.button:hover{
    background: rgb(40, 151, 136);
}
.nextbutton:hover{
    background: rgb(40, 151, 136);
}
.ask{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ask p:hover{
    color: rgb(40, 151, 136);
}
.error{
    color: red;
}
.success{
    color: green;
}
.selectdiv{
    width: 100%;
}
.selectoption{
    width: 100%;
    height: 30px;
}
@media(max-width:500px){
    .nextform{
        height: 60%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont{
        height: 500px;
        width: 300px;
    }
    .form{
        width: 90%;
    }
}
@media(max-width:400px){
    .cont{
        width: 320px;
    }
    .nextform{
        height: 120px;
        width: 40%;
    }
}
