@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.container{
    width: 100vw;
    height: 100%;
    display: flex;
    padding: 30px;
    gap: 20px;
    align-items: center;
    background: rgb(43, 41, 41);
}
.numberscontainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 80%;
  }
  .cont{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .odd{
    height: 10%;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
  }

  .numberscontainer div {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    height: 60%;
  }
  /*26843029*/
  .registered {
    background-color: rgb(6, 136, 97);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 70%;
    height: 50px;
  }
  
  .unregistered {
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104));
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    width: 70%;

    height: 50px;
  }
  .unregistered:hover{
    background-image: radial-gradient(rgb(6, 209, 148),rgb(6, 136, 97));
  }
  .playoption{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
    gap: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
  }
  .renumber{
    width: 100%;
    height: auto;
  }
  .renumber ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .renumber ul li{
    border-radius: 50%;
    border: 2px solid rgb(222, 227, 230);
    background-color: rgb(6, 136, 97);
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .memezgeb{
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 8%;
  }
  .select{
    height: 7%;
    width: 50%;
    margin-top: 20px;
  }
  select{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
  }
  .button{
    width: 30%;
    height: 7%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background: rgb(11, 33, 104);
    color: white;
  }
  .button:hover{
    background: rgb(6, 136, 97);
    color: white;
  }
  .round{
    color: white;
    font-weight: bold;
    height: 7%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }