@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes current {
  0% {
    width: 47%;
    height: 47%;
    font-size: 40px;
  }
 
  50% {
    width: 55%;
    height: 55%;
    font-size: 40px;
  }
 
  100% {
    width: 40%;
    height: 40%;
    font-size: 40px;
  }
}

.animated {
  animation: current 2s ease;
}
.current {
  display: flex;
background: white;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  font-size: 40px;
}
.current11{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 19%;
border-radius: 50%;
height: 250px;
border: 10px solid white;
display: flex;
align-items: center;
justify-content: center;
background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104));
}
.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(1, 2, 8),rgb(6, 18, 58),rgb(20, 109, 145), rgb(11, 33, 104),rgb(6, 18, 58),rgb(1, 2, 8));
}
.cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cardnumber{
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  background: rgb(2, 21, 71);
  color: white;
  margin-bottom: 5px;
}
.table{
  width: 40%;
  height: 70%;
  font-weight: bold;
    font-size: 50px;
    background: white;
    font-family: 'Roboto', sans-serif;
}
td {
  border: 2px solid black;
}
.B{
  width: 20%;
  color: white;
  height: 60px;
  background-image: linear-gradient(to right,rgb(6, 6, 51),rgb(0, 162, 255));
}
.I{
  color: white;
  height: 60px;
  background-image: linear-gradient(to right,rgb(64, 9, 78),rgb(124, 6, 89));
  width: 20%;
}
.N{
  color: white;
  height: 60px;
  background-image: linear-gradient(to right,rgb(7, 90, 39),rgb(6, 161, 115));
  width: 20%;
}
.G{
  color: white;
  height: 60px;
  background-image: linear-gradient(to right,rgb(71, 31, 5),rgb(201, 136, 17));
  width: 20%;
}
.O{
  color: white;
  height: 60px;
  background-image: linear-gradient(to right,rgb(22, 14, 8),rgb(163, 159, 152));
  width: 20%;
}
.buttons{
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  background: transparent;
  width: 50%;
}
.called {
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .winning {
    background-color: blue;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cornerwinning {
    background-color: rgb(2, 150, 2);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .good{
    width: 24%;
    height: 45px;
    font-weight: bold;
    font-size: 25px;
    background: rgb(2, 21, 71);
    color: white;
    cursor: pointer;
  }
  .add{
    width: 24%;
    height: 45px;
    font-weight: bold;
    font-size: 25px;
    background: rgb(6, 209, 148);
    color: white;
    cursor: pointer;
  }