.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104),rgb(4, 48, 85));
    position: relative;
}
.bounce{
    position: absolute;
    width: 200px;
    height: 500px;
    height: auto;
    left: 10px;
}
.x{
    position: absolute;
    width: 200px;
    color: white;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-weight: bold;
    height: auto;
    right: 10px;
}
.link{
    width: 50%;
    height: 8%;
  background: rgb(4, 48, 85);
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.remaining{
    background: white;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid white;
    color: rgb(4, 48, 85);
    padding-bottom: 10px;
}
.link div:hover{
    border-bottom: 2px solid white;
}
.card{
    width: 50%;
    height: 70%;
    background: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 85%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
.button{
    width: 50%;
    height: 8%;
    background: white;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    gap:2%;
}

.lowbutton{
    width: 79%;
    background: rgb(4, 48, 85);
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: none;
}
.lowbutton:hover{
    background: rgb(4, 76, 94);
}
.pewzew{
    width: 20%;
    background: rgb(4, 48, 85);
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}
.pewzew:hover{
    background: rgb(4, 76, 94);
}

@media(max-width:600px){
    .bounce{
        display: none;
    }
    .link{
        width: 90%;
    }
   .remaining{
    width: 90%;
    font-size: 30px;
   }
   .card{
    width: 90%;
   }
   .button{
    width: 90%;
   }
   .lowbutton{
    font-size: 15px;
   }
   .pewzew{
    font-size: 15px;
   }
  }