@keyframes highlight {
  0% {
    background-image: linear-gradient(to right,red,red,rgb(253, 106, 106),red,red);
    font-size: 60px;
  }
  50% {
    background-image: linear-gradient(to right,red,red,rgb(253, 106, 106),red,red);
    font-size: 60px;
  }
  100% {
    background-image: linear-gradient(to right, rgb(11, 33, 104),rgb(11, 33, 104),rgb(20, 109, 145), rgb(11, 33, 104),rgb(7, 16, 46));

  }
}

@keyframes current {
  0% {
    width: 47%;
    height: 47%;
    font-size: 30px;
  }
 
  50% {
    width: 55%;
    height: 55%;
    font-size: 30px;
  }
 
  100% {
    width: 40%;
    height: 40%;
    font-size: 30px;
  }
}

.animated {
  animation: current 2s ease;
}

.bingocall {
  display: flex;
  gap: 2%;
  flex-direction: column;
  align-items: start;
  height: 90%;
}

.bingoBoardcontainer {
  width: 100%;
  height: 50%;
  background: rgb(43, 41, 41);
}

.bingoBoard {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 2%;
}

.bingoRow {
  width: 100%;
  height: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  gap: 10px;
}

.called {
  color: white;
  background-image: linear-gradient(to right, rgb(11, 33, 104),rgb(11, 33, 104),rgb(20, 109, 145),rgb(11, 33, 104),rgb(7, 16, 46));
  font-weight: bold;
  font-size: 30px;
  width: 5.7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.called.animated {
  animation: highlight 3s;
}

.uncalled {
  background: rgb(85, 81, 81);
  font-weight: bold;
  color: rgb(161, 155, 155);
  font-size: 30px;
  width: 5.7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 5.7%;
  height: 100%;
  background: rgb(59, 204, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.B {
  background: rgb(11, 33, 104); 
  color: white;
  font-size: 30px;
}

.I {
  background-color: #fa2626; /* Set the background color for letter I */
  font-size: 30px;
}

.N {
  background-color: white; /* Set the background color for letter N */
  font-size: 30px;
}

.G {
  background: rgb(6, 209, 148);
  font-size: 30px;
}

.O {
  background-color: yellow; /* Set the background color for letter O */
  font-size: 30px;
}
.currentrecent {
  display: flex;
  width: 100%;
  height: 40%;
  background: rgb(11, 33, 104);
}
.recentCalledNumbers{
  width: 40%;
  height: 100%;
  color: white;
  background: white;
background-image: linear-gradient(to right,rgb(3, 3, 53), rgb(11, 33, 104),rgb(20, 109, 145),rgb(11, 33, 104),rgb(7, 16, 46));
font-size: 30px;
}
.recentCalledNumbers ul{
  width: 96%;
  height: 33%;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.recentCalledNumbers ul li{
  width: 18%;
  height: 100%;
  border-radius: 50%;
  background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104),rgb(3, 3, 53));
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
color: white;
}
.current11{
  width: 19%;
border-radius: 50%;
height: 90%;
border: 10px solid white;
display: flex;
align-items: center;
justify-content: center;
background-image: radial-gradient(rgb(20, 109, 145),rgb(11, 33, 104));
}
.current {
  display: flex;
background: white;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  font-size: 30px;
}

ul {
  display: flex;
}
.img{
  height: 100%;
  width: 20%;
}
.img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.derash{
  width: 22%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  background-image: linear-gradient(to right,rgb(3, 3, 53), rgb(11, 33, 104),rgb(20, 109, 145),rgb(11, 33, 104),rgb(7, 16, 46));
}
.de{
  background: white;
  color: rgb(11, 33, 104);
}